.body__head{
    padding: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.171);
}
.body__head > h2{
    margin-bottom: 5px;
    font-weight:400;
}
.body__head > p {
    font-size:small;
}
.body__input {
    background-color: aliceblue;
   padding: 10px;
}
.body__input>form > input{
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
}
